.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: yellowgreen;
}

.red-text {
    color: purple;
    margin-left: 10px;
}

.some {
    background: lightsteelblue;
}

.some-text {
    color: moccasin;
}

.myTheme {
    background: yellow;
}

.myTheme-text {
    color: black;
    font-style: italic;
}

