.wrapper {
    width: 600px;
    margin-bottom: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 40px;
    /*border: 1px solid #333;*/
}

.item {
    padding: 15px;
}

.high {
    color: darkgreen;
}

.middle {
    color: darkorchid;
}

.low {
    color: coral;
}

.btn {
    width: 40px;
    height: 25px;
    margin-top: 10px;
}
.filterBtn {
    width: 80px;
    height: 25px;
    margin: 20px;
}