/*.superInput {
    height: 25px;
    border-radius: 3px;
}

.errorInput {
    border: 2px solid red;

}

.error {
    font-size: 16px;
    color: red;
    margin-bottom: 10px;
    height: 15px;
}*/

.superInput {
    border-radius: 4px;
    background: lightsteelblue;
    margin: 5px 5px 5px 0;
    height: 25px;
}

.errorInput {
    border-radius: 4px;
    height: 25px;
    background: white;
    margin: 5px 5px 5px 0;
    border: 2px solid red;
}

.testSpanError {
}


.error {
    color: red;
}
