.link {
    text-decoration: none;
    color: darkcyan;
    margin: 10px;
    padding: 4px;
}

.link:hover {
    color: darkslategray;
}

.toggle {
    width: 25px;
    height: 25px;
    margin: 10px;
    background: darkcyan;
}

.menu {
    display: flex;
    width: 400px;
    transition-duration: 500ms;
    transform: translateX(-350px);
}

.menu:hover {
    transition-duration: 500ms;
    transform: translateX(0px);
}


