.wrapper {
    margin-top: 20px;
}
.wrapper span {
    padding: 3px
}

.wrapper input {
    padding: 3px;
    margin-bottom: 5px;
}

.wrapper button {
    padding: 3px;

}

.error {
    color: red;
    border: 1px solid red;
}